html,
body,
#root {
    min-height: 100%;
    margin: 0;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-main {
    flex: 1 0 auto;
}

.app-footer {
    flex-shrink: 0;
}